{:exoscale.project/lib com.exoscale/cel-parser
 :exoscale.project/version-file "VERSION"
 :slipset.deps-deploy/exec-args {:installer :remote
                                 :sign-releases? false
                                 :repository "clojars"}
 :exoscale.project/deploy? true

 :exoscale.project/pom-data [[:licenses
                              [:license
                               [:name "MIT"]
                               [:url "https://opensource.org/license/mit/"]
                               [:distribution "repo"]]
                              [:license
                               [:name "ISC"]
                               [:url "https://opensource.org/license/isc-license-txt/"]
                               [:distribution "repo"]]]]

 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.antlr/antlr4-runtime {:mvn/version "4.9.2"}
        com.exoscale/antlr-cel {:mvn/version "0.1.1"}}

 :aliases
 {:project
  {:deps {io.github.exoscale/tools.project
          {:git/sha "99e6b7aaccd9b97079341625c807b9fa0352e36d"}}
   :ns-default exoscale.tools.project}
  :test
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.68.1059"}
                org.clojure/test.check {:mvn/version "1.1.1"}}
   :extra-paths ["test" "test/resources" "target/classes"]
   :exec-fn kaocha.runner/exec-fn}}}
